body {
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  min-width: 320px;
  overflow-x: hidden;
  height: auto;
  background-image: url("img/logo_big1.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}

header {
  background-color: white;
  border-radius: 20px;
}

.navbar {
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.navbar-menu li {
  display: inline-block;

}
.navbar-menu li a {
  display: inline-block;
  color: #000;
  opacity: 0.6;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
}
.callback {
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 15px 15px;
  background-color: #FF3500;
  border-radius: 100px;
  background: linear-gradient(to right, #f87f14, #f9b20e);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: rgba(0,0,0,.6);
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(255,53,0,.2);
  transition: all 0.4s ease-out;
}
.callback:hover {
  color: #000;
  transform: scale(1.1);
  box-shadow: 0 9px 9px rgba(255,53,0,.6);
}
.navbar-brand {
  margin-left: 10px;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to right, #fc3500, #fc9c1f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-menu li a:hover {
  opacity: 1;
  background: linear-gradient(to right, #fc3500, #fc9c1f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-brand:hover {
  color: #FF3500;
}

.select{
  width: 165px;
  height: 35px;
  border-radius: 10px;
  vertical-align: middle;
}


/*Дизайн  */
form {
  -webkit-writing-mode: horizontal-tb !important;
  -webkit-appearance: form;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  text-rendering: auto;
  color: initial;
  display: inline-block;
  text-align: start;
  margin: 50px;
  font: 400 11px system-ui;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(230, 130, 40,.6);
  padding: 40px 40px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  width:500px;
  margin-left: 390px;
  padding-bottom: 10px;
  padding-top: 10px;
}


.orange-button {
  padding: 15px 20px;
  background-color: #FF3500;
  border-radius: 100px;
  border: none;
  background: linear-gradient(to right, #f87f14, #f9b20e);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: rgba(0,0,0,.6);
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(255,53,0,.2);
  transition: all 0.4s ease-out;
  text-decoration: none;
  background-position: right bottom;
  font-size: 32px;
  margin-left: 0px;
  margin-top: 10px;
}


input {
  width: 170px;
  height: 25px;
  border-radius: 10px;
  vertical-align: middle;
}


.container{
  display: flex;
  justify-content: space-between;
}

.block {
  width: 50%;
}
/* Выподающее меню*/
dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
/*Конец выподающего меню */