<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Drone-Deliviry</title>

	<!-- Bootstrap reboot (для сброса стилей) -->
	<link rel="stylesheet" href="libs/bootstrap-reboot.min.css">

	<!-- Bootstrap сетка -->
	<link rel="stylesheet" href="libs/bootstrap-grid.min.css">

	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

	<!-- Стили сайта -->
	<link rel="stylesheet" href="css/main.css">

	<!-- Логотип вкладки -->
	<link rel="icon" href="test_logo1.jpg" type="img/image/x-icon">
</head>
<body>
	<header>
	<!-- МЕНЮ САЙТА -->
	<nav class="navbar">
		<div class="container">
			<a href="#" class="navbar-brand"> Drone-Delivery </a>

			<div class="navbar-wrap">
				<ul class="navbar-menu">
					<li><a href="zakaz.html">Заказать товар</a></li>
					<li><a href="S_KEM.html">С кем мы сотрудничаем</a></li>
					<li><a href="O_NAS.html">О нашем проекте</a></li>
					<li><a href="rabotnik.html">Работник</a></li>
					<li><a href="#">Поддержка</a></li>
				</ul>
			<!-- /.navbar-menu -->
			<div class="dropdown">
				<button class="callback">Мои заказы</button>
				<div class="dropdown-content">
    				<a href="#">Заказ 1</a>
				    <a href="#">Заказ 2</a>
				    <a href="#">Заказ 3</a>
				</div>
			</div>
			</div>
		</div>
	</nav>
	<!-- СОДЕРЖИМОЕ САЙТА -->
</header>
</body>
</html>