<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Drone-delivery</title>

	<!-- Bootstrap reboot (для сброса стилей) -->
	<link rel="stylesheet" href="libs/bootstrap-reboot.min.css">

	<!-- Bootstrap сетка -->
	<link rel="stylesheet" href="libs/bootstrap-grid.min.css">

	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

	<!-- Стили сайта -->
	<link rel="stylesheet" href="css/rabotnik_vhod.css">
<!--	<link rel="stylesheet" href="{% static 'css/test.css' %}">-->

	<!-- Логотип вкладки -->
	<link rel="icon" href="{% static 'img/test_logo1.jpg' %}" type="image/x-icon">
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=API_KEY" type="text/javascript"></script>
	<script type="text/javascript">

	ymaps.ready(init); 
	var myMap;
	
	function init() {
	
		myMap = new ymaps.Map("map", {
			center: [43.238253, 76.945465], // Координаты центра карты
			zoom: 13 // Маштаб карты
		}); 
	
		myMap.controls.add(
			new ymaps.control.ZoomControl()  // Добавление элемента управления картой
		); 
	
		myPlacemark = new ymaps.Placemark([43.238253,76.945465], { // Координаты метки объекта
			balloonContent: "<div class='ya_map'>Заезжайте в гости!</div>" // Подсказка метки
		}, {
			preset: "twirl#redDotIcon" // Тип метки
		});
		
		myMap.geoObjects.add(myPlacemark); // Добавление метки
		myPlacemark.balloon.open(); // Открытие подсказки метки
		
	};
	
</script>
</head>
<body>
	<header>
	<!-- МЕНЮ САЙТА -->
	<nav class="navbar">
		<div class="container">
			<a href="Main1.html" class="navbar-brand"> Drone-Delivery </a>

			<div class="navbar-wrap">
				<ul class="navbar-menu">
					<li><a href="zakaz.html">Заказать товар</a></li>
					<li><a href="S_KEM.html">С кем мы сотрудничаем</a></li>
					<li><a href="O_NAS.html">О нашем проекте</a></li>
					<li><a href="rabotnik.html">Работник</a></li>
					<li><a href="#">Поддержка</a></li>
				</ul>
			<!-- /.navbar-menu -->
				<a href="#" class="callback">Мои заказы</a>
			</div>
		</div>
	</nav>
	<!-- СОДЕРЖИМОЕ САЙТА -->
</header>

<div class="container">
	<div class="block">
    <table>
      <tr>
        <th>Название таблицы</th>
      </tr>
      <tr>
        <th>Заголовок колонки 1</th>
        <th>Заголовок колонки 2</th>
        <th>Заголовок колонки 3</th>
      </tr>
      <tr>
        <td>Ячейка 1</td>
        <td>Ячейка 2</td>
        <td>Ячейка 3</td>
      </tr>
      <tr>
        <td>Ячейка 4</td>
        <td>Ячейка 5</td>
        <td>Ячейка 6</td>
      </tr>
    </table>
  </div>
</div>
</div>
</body>
</html>